
body {
    background-color: black;
    color:white;
    font-family:"Consolas", monospace;
    overflow-y: hidden;
}

.icon {
    max-height:2em;
}

a {
    display:block;
}

#mainForm {
    // text-align: center;
    font-size: large;
    height:70%;
}

svg {
    display:inline;
}

#gh-icon {
    margin:10px;
}