<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('meta') %>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center  vh-100">
            <div class="col" id="mainForm">
                <div>Enter your Github username</div>
                <form action = "user">
                    <input name="username" type="txt">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>